// banner strat here
.banner
  .container
    .banner-main
      h3 We Work For Your Health
      p
        | To guarantee equitable, sustainable and quality health for all Filipinos, especially the poor, and to lead the quest for excellence in health.
      .clearfix  
// banner end here