// contact start here
#contact.contact
  .container
    .contact-main
      .contact-top
        h3 Quick Contact
        p Please fill up the information below to leave a message
      .contact-bottom
        form
          .col-md-6.contact-left
            textarea(placeholder='Message', required='')
          .col-md-6.contact-right
            input(type='text', placeholder='Name')
            input(type='text', placeholder='Email')
            input(type='submit', value='Send')
          .clearfix  
// concact end here