// footer strat here
.footer
  .copy-right
    p
      | © 2016 All rights reserved
      a(href='#', target='_blank')   Calamba District Hospital - Misamis Occidental
  a#toTop(href='#', style='display: block;')
    span#toTopHover(style='opacity: 1;')  
// footer end here