#gallery.gallery
  .container
    .gallery-main
      .gallery-top
        h3 Gallery
      .gallery-bottom
        .view.view-fourth
          a.b-link-stripe.b-animate-go.swipebox(href='images/g1.jpg', title='Image Title')
            img.img-responsive(src='images/g1.jpg', alt='')
            .mask
              h3 Medical
              p A wonderful serenity has taken possession of my entire soul.
              span.gall More
        .view.view-fourth
          a.b-link-stripe.b-animate-go.swipebox(href='images/g2.jpg', title='Image Title')
            img.img-responsive(src='images/g2.jpg', alt='')
            .mask
              h3 Medical
              p A wonderful serenity has taken possession of my entire soul.
              span.gall More
        .view.view-fourth
          a.b-link-stripe.b-animate-go.swipebox(href='images/g3.jpg', title='Image Title')
            img.img-responsive(src='images/g3.jpg', alt='')
            .mask
              h3 Medical
              p A wonderful serenity has taken possession of my entire soul.
              span.gall More
        .view.view-fourth
          a.b-link-stripe.b-animate-go.swipebox(href='images/g4.jpg', title='Image Title')
            img.img-responsive(src='images/g4.jpg', alt='')
            .mask
              h3 Medical
              p A wonderful serenity has taken possession of my entire soul.
              span.gall More
        .view.view-fourth
          a.b-link-stripe.b-animate-go.swipebox(href='images/g5.jpg', title='Image Title')
            img.img-responsive(src='images/g5.jpg', alt='')
            .mask
              h3 Medical
              p A wonderful serenity has taken possession of my entire soul.
              span.gall More
        .view.view-fourth
          a.b-link-stripe.b-animate-go.swipebox(href='images/g6.jpg', title='Image Title')
            img.img-responsive(src='images/g6.jpg', alt='')
            .mask
              h3 Medical
              p A wonderful serenity has taken possession of my entire soul.
              span.gall More
      .clearfix  
// gallery end here