extends ../layout

block content
  .block-container.banner
    .admission-form
      .admission-form-size
        table#patient.display(cellspacing='0', width='100%')
          thead
            tr
              th id
              th First name
              th Last name
              th Middle name
              th Gender
              th Birthday
              th Admitted?
              th Choose?
          tfoot
            tr
              th id
              th First name
              th Last name
              th Middle name
              th Gender
              th Birthday
              th Admitted?
              th Choose?