extends ../layout

block content
  .block-container.banner
    .body-form
      .body-form-size
        .page-controls.pull-right
          button.btn-info.btn#addMedicine(type="button")
            span.glyphicon.glyphicon-plus(aria-hidden="true")
            |&nbsp;Add Medicine
        h1.page-label Pharmacy
        br
        table#medicineItems.stripe.row-border.hover
          thead
            tr
              th ID
              th Date
              th Medicine Name
              th Source
              th Quantity
              th Description
              th.dt-center Actions

    #overlay-edit-medicine-dialog(title="Edit Medicine")
      form
        input#medicineQuantity.form-control(type='hidden', name="medicineQuantity")
        input#medicineID(type="hidden")
        .row(style="margin-bottom: 10px")
          .col-md-2 Name
          .col-md-10
            input#medicineName.form-control(type='text', name="medicineName", placeholder="Medicine Name")
        .row(style="margin-bottom: 10px")
          .col-md-2 Source
          .col-md-10
            select#medicineSource.form-control(name="medicineSource")
              option(value="") Please select..
              each source in medSources
                option(value="#{source.value}") #{source.label}
        .row
          .col-md-2 Description
          .col-md-10
            textarea#medicineDesc.form-control(name="medicineDesc", placeholder="Medicine Description")

    #overlay-add-medicine-dialog(title="Add New Medicine")
      form
        .row(style="margin-bottom: 10px")
          .col-md-2 Name
          .col-md-10
            input#medicineName.form-control(type='text', name="medicineName", placeholder="Medicine Name")
        .row(style="margin-bottom: 10px")
          .col-md-2 Quantity
          .col-md-4
            input#medicineQuantity.form-control(type='number', name="medicineQuantity", value="0", min="0")
        .row(style="margin-bottom: 10px")
          .col-md-2 Source
          .col-md-10
            select#medicineSource.form-control(name="medicineSource")
              option(value="") Please select..
              each source in medSources
                option(value="#{source.value}") #{source.label}
        .row
          .col-md-2 Description
          .col-md-10
            textarea#medicineDesc.form-control(name="medicineDesc", placeholder="Medicine Description")

    #overlay-add-medicine-quantity-dialog(title="Add Quantity")
      form
        input#medicineID(type="hidden")
        .row
          .col-md-12
            input#medicineQuantity.form-control.num_font(type='number', name="medicineQuantity", value="0", min="0")
